<div class="container">
  <div class="btn btn-red md-text">Login</div>
</div>

<h1>OPTION BTN</h1>
<div class="container">
  <div class="btn btn-yellow md-text">Rules</div>
</div>


<div><%= image_tag 'logo', class: 'logo' %></div>
