h1{
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
}

p{
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;

}
