h1{
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  color: $black;
}

h2{
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  color: $red;
}

h3{
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  color: $black;
}

h4{
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  color: $red;
}

h5{
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: $grey;
}

p{
  font-size: 0.75rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: $grey;
}
