.lobby-team-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.lobby-wrapper{
  margin-top: 5vh;
}

.lobby-buttons{
 display: flex;
 flex-direction: column;
 margin-left: 4vw;
 margin-right: 4vw;
 justify-content: center;
 align-items: center;
 margin-top: 2vh;
 gap: 2vh;
}
