.team-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.team-grid{
  display: grid;
  gap: 1vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: 32vw;
  max-height: 50vh;
  min-height: 50vh;
}

.team-grid:first-child{
  border-right: 1px solid $red;
  padding-right: 2vw;

}

.team-grid:last-child{
  padding-left: 2vw;
}

.lobby-team-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.lobby-wrapper{
  margin-top: 15vh;
}

.lobby-buttons{
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 50%;
 justify-content: center;
 align-items: center;
 margin-left: 24vw;
 margin-top: 2vh;
 gap: 2vh;
}
