.pre-lobby-top-text{
  margin-top: 13vh;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pre-lobby-bottom-text{
  display: flex;
  justify-content: center;
  align-items: center;

}

.pre-lobby-top-text > i{
  color: $beige;
}

i{
  color: $beige;
}
