.result-players{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
}

.result-wrapper{
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.result-top-text{
  line-height: 2.5rem;
}

.mvp-text{
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  gap: 5vw;
}

.result-bottom{
  display: flex;
  flex-direction: column;
  width: 50%;
  a {
    margin-top: 2vh;
  }
}
