.results-wrapper{
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.round-result-top{
  display: flex;
  flex-direction: row;
  gap: 24vw;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
}

.team-points-box{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
}

.round-result-bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10vh;
  a {
    margin-top: 2vh;
  }
}

.red-title {
  color: #CE5A67;
  font-size: 1rem;
  margin-top: -1vh;
}
