<h1>Create your profile</h1>

form WIP

<%= simple_form_for [@game, @user] do |f| %>
  <%= f.input :username %>
  <%# -- CHOOSE avatar

  how to access array, Model? %>
  <%= f.button :submit %>
<% end %>
