<div class="form-wrapper">
  <h1>Create your profile</h1>
  <%= simple_form_for [@game, @user] do |f| %>
    <%= f.input :username, input_html: { class: 'form-input', placeholder: 'Enter username' }, label: false %>
    <%= f.button :submit, class:'btn btn-red' %>
    <% end %>
</div>
