<div class="container">
<div class="top-padding">
<h1>Loading...</h1>
</div>
<div class="loading-spin">
  <div class="logo-container-spin">
    <%= image_tag 'logo.png', alt: 'Logo', class:"logo-spin" %>
  </div>
  </div>
</div>
