<div class="modal-header" data-controller="show-partial">
  <button type="button" class="close btn-red" aria-label="Close" data-action="click->show-partial#hidePartial">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body" data-show-partial-target="qr">
    <%= image_tag("qr.png")  %>
  </div>
</div>
