<div id="<%=user.id%>">
  <% a = Avatar.find(user.avatar_id) %>
  <%= cl_image_tag(a.photo.key, class: "avatar-rounded") %>
  <p><%= user.username %></p>
  <%if user.game.games_statuses.status == 'lobby' && user.is_ready == true %>
    <div class="black">
      <p><i class="fa-solid fa-check"></i></p>
    </div>
  <% end %>
</div>
