<div class="container">
  <div class="word-wrapper">

    <% if game_state.status == 'round1_play' || game_state.status == 'round1_results' %>
      <h1>Round 1</h1>
    <% elsif game_state.status == 'round2_play' || game_state.status == 'round2_results' %>
      <h1>Round 2</h1>
    <% elsif game_state.status == 'round3_play' || game_state.status == 'round3_results' %>
      <h1>Round 3</h1>
    <% else %>
    <% end %>

      <h3>Pay attention to the player!</h3>
      <%# <h4>Last card found :</h4>
      <div class="player-word-display">
        <% last_card_round = RoundCard.where(round_id: Round.find_by(round_number: 1, game_id: @game.id), is_guessed: true).order(updated_at: :asc).last if @game.games_status.status == "round1_play" %>
        <%# <% last_card_round = RoundCard.where(round_id: Round.find_by(round_number: 2, game_id: @game.id), is_guessed: true).order(updated_at: :asc).last if @game.games_status.status == "round2_play" %>
        <%# <% last_card_round = RoundCard.where(round_id: Round.find_by(round_number: 3, game_id: @game.id), is_guessed: true).order(updated_at: :asc).last if @game.games_status.status == "round3_play" %>
        <%# <% last_card_to_guess = Card.find(@last_card_round.card_id) if @last_card_round != nil %>
        <%# <h1><%= last_card_to_guess.content if last_card_to_guess != nil%></h1>
      <%# </div> %>
  </div>
</div>
<div id="timer-container" class="timer-container">
  <div id="timer" class="timer">5</div>
</div>
