<div class="center-wrapper">
  <div class="top-wrapper">

    <% if GamesStatus.find_by(game_id: game.id) == 'round1_play' || GamesStatus.find_by(game_id: game.id) == 'round1_results' %>
      <h1>Round 1</h1>
    <% elsif GamesStatus.find_by(game_id: game.id) == 'round2_play' || GamesStatus.find_by(game_id: game.id) == 'round2_results' %>
      <h1>Round 2</h1>
    <% elsif GamesStatus.find_by(game_id: game.id) == 'round3_play' || GamesStatus.find_by(game_id: game.id) == 'round3_results' %>
      <h1>Round 3</h1>
    <% else %>
    <% end %>

    <h1> Team <%= player.team.name %></h1>
    <h1><%= player.username %></h1>
  </div>

    <% a = Avatar.find(player.avatar_id) %>
    <%= cl_image_tag(a.photo.key, class: 'avatar-rounded-big') %>

  <div class="width-wrapper">
   <h5>Wait for chosen player to get ready...</h5>
  </div>
</div>
