<div class="index-wrapper">
  <div class="center-wrapper">
    <div>
      <h1>Time's Up</h1>

      <% a = Avatar.find(player.avatar_id) %>
      <%= cl_image_tag(a.photo.key, class: 'avatar-rounded-big') %>

      <h1> <%= player.username.capitalize %> <br> scored <%= game.player_turn_point %> points!</h1>
    </div>
    <div>
      <h1><i class="fa-solid fa-trophy"></i></h1>
    </div>
    <div class="player-score-wrapper">
      <%= button_to 'Next player', play_path(game_id: game.id), method: :patch, class: 'btn btn-red', data: { turbo: true } %>
    </div>
  </div>
</div>
