<div class="word-wrapper">

    <% if game_status.status == 'round1_play' || game_status.status == 'round1_results' %>
      <h1>Round 1</h1>
    <% elsif game_status.status == 'round2_play' || game_status.status == 'round2_results' %>
      <h1>Round 2</h1>
    <% elsif game_status.status == 'round3_play' || game_status.status == 'round3_results' %>
      <h1>Round 3</h1>
    <% else %>
    <% end %>

    <%card_round = cards_round1_playable.sample if game_status.status == "round1_play" %>
    <%card_round = cards_round2_playable.sample if game_status.status == "round2_play" %>
    <%card_round = cards_round3_playable.sample if game_status.status == "round3_play" %>
    <%if card_round.nil? %>
    <div class="width-wrapper">
      <h5>Congrats, you guessed all the cards!</h5>
    </div>
      <h1><i class="fa-solid fa-trophy"></i></h1>
      <%= button_to 'Next', play_path(game_id: game.id), method: :patch, class: 'btn btn-red', data: { turbo: true }, remote: true  %>
    <% else %>
    <h4>Speak out!</h4>
    <div class="player-word-display">
        <% card_to_guess = Card.find(card_round.card_id) %>
        <h1><%= card_to_guess.content %></h1>
    </div>
    <div class="playing-bottom-wrapper">
        <%= button_to 'Correct', guess_card_skipped_game_path(id: game.id, card_round_id: card_round.id), method: :patch, class: "btn btn-yellow correct play-button"%>
        <%= button_to 'Next', play_path(game_id: game.id), method: :patch, class: 'btn btn-red hidden', id: 'next-button', data: { turbo: true } %>
    </div>
    <% end %>
  </div>
