<%# <% player_order = @game.teams.first.users.to_a.zip(@game.teams.second.users).flatten %>
<div class="index-wrapper">
  <div class="center-wrapper">
    <div>
      <h1>Time's Up</h1>

      <% a = Avatar.find(player.avatar_id) %>
      <%= cl_image_tag(a.photo.key, class: 'avatar-rounded-big') %>

      <h1> <%= player.username.capitalize %> <br> scored <%= game.player_turn_point %> points!</h1>
    </div>
    <div>
      <h1><i class="fa-solid fa-trophy"></i></h1>
    </div>
    <div class="player-score-wrapper">
    </div>
  </div>
</div>
