<div>
  <%= image_tag 'https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1705164506/ygdha8tz1xtkqu8rywms.jpg', class: 'avatar-rounded' %>
  <p>Laura</p>
</div>
<div>
  <%= image_tag 'https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1705164506/ygdha8tz1xtkqu8rywms.jpg', class: 'avatar-rounded' %>
  <p>Laura</p>
</div>
