<div class="container">
  <div class="pre-lobby-top-text" data-controller="clipboard" data-clipboard-target="div">
    <h1>Code to join: </h1>
    <div class="copytext-div">
    <h1 data-clipboard-target="gamecode" id="gamecode"><%= game.id %> <i class="fa-solid fa-copy" data-action="click->clipboard#copy" ></i></h1>
    <p id="copied-text" data-clipboard-target="copied" class="hidden">Copied!</p>
    </div>
    <p class="link">Show QR</p>
  </div>
  <div class="player-grid" id="pre-lobby-grid">
  <% users.each do |user| %>
    <div>
      <%= image_tag("avatar_#{rand(1..16)}.png", class: 'avatar-rounded') %>
      <p><%= user.username %></p>
    </div>
    <% end %>
  </div>

  <div class="pre-lobby-bottom-text">
    <% if current_user.is_creator == true %>
      <%= link_to 'Start the game', update_path(game_id: game.id), class: 'btn btn-red', data: {turbo_method: :get, turbo_confirm: "You sure you want to start the game?"}%>
    <% else %>
      <h1>Waiting for more<br> players to join...</h1>
    <% end %>
</div>
  </div>
</div>
