<div>
  <%= link_to 'Host a game', '#' , class: '' %>
</div>

<div>
  <%= link_to 'Join a game', join_game_path, class: '' %>
</div>

<div>
  <%= link_to 'How to play', '#', class: '' %>
  <%= link_to 'About us', '#', class: '' %>
</div>
