<div class="container">
  <div class="logo-container">
    <%= image_tag 'logo.png', alt: 'Logo', class:"logo" %>
  </div>
  <h1 class="text-center">Enter Code to Join</h1>

  <%= simple_form_for :users, url: new_game_user_path(Game.last.id), method: :get do |f| %>
    <%= f.input :game_id, required: true, label: false, input_html: { class: 'game-code-input' }, label_html: { class: 'game-code-label' }, placeholder: 'Enter code and join' %>
    <%= f.button :submit, "Join Game", class: 'btn btn-red mt-5'%>
  <% end %>
</div>
