<div class="container">
  <div class="lobby-wrapper">
    <div class="lobby-team-text">
    <h1>Team one</h1>
    <h1>Team two</h1>
    </div>
      <div class="team-grid-container">
        <div class="team-grid">
        <%= render partial: 'player_grid', collection: @team_one, as: :user %>
        </div>
        <div class="team-grid">
          <%= render partial: 'player_grid', collection: @team_two, as: :user %>
        </div>
      </div>
      <div class="lobby-buttons">
        <%= link_to "Ready up", "#", class: 'btn btn-red' %>
        <%= link_to "Rules", "#" ,class: 'btn btn-yellow'%>
      </div>
  </div>
</div>
