<div class="new-game-container">
  <div>
    <%= link_to "Default Word", games_path(is_default: true), data: {turbo_method: "post"}, class:"btn btn-yellow" %>
    <%= link_to "Create Yours", games_path(is_default: false), data: {turbo_method: "post"}, class:"btn btn-yellow" %>
  </div>
</div>
