<div class="choice-wrapper">
  <div class="choice-text">
    <div>
      <h1>Chose your game settings</h1>
    </div>
    <div>
      <p>If you want to play with your own words, chose "Custom words", else chose "Default words".</p>
    </div>
  </div>
  <div class="choice-btn-center">
    <%= button_to "Default words", games_path(is_default: true), data: {turbo_method: "post"}, class:"btn btn-yellow" %>
    <%= button_to "Custom words", games_path(is_default: false), data: {turbo_method: "post"}, class:"btn btn-red" %>
  </div>
</div>
