<div class="container">
  <div class="pre-lobby-top-text">
    <h1>Code to join: </h1>
    <h1>17931 <i class="fa-solid fa-copy"></i></h1>
    <p class="link">Show QR</p>
  </div>
  <div class="player-grid">
    <%= render partial: 'player_grid', collection: @users, as: :user %>
  </div>
  </div>
<div class="pre-lobby-bottom-text">
  <h1>Waiting for more<br> players to join...</h1>
</div>
</div>
