<div class="index-wrapper">
  <h1>Round 2 | Results</h1>

  <div> <%= render partial: 'results_round' %> </div>

  # change button to "Start Round 3"
  <%= link_to "Start Round 3", update_path(game_id: params[:id]) %>
</div>
