.container{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  margin-bottom:
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 96vh;
}
