.form-input{
height: 10vh;
border-radius: 8px;
font-size: large;
}

.mb-3{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.form-label{
  font-family: inherit;

}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70%
}

.word-examples{
  min-width: 50vw;
  max-width: 50vw;
}
