// Colors and fonts

@import "config/colors";
@import "config/fonts";
@import "font-awesome";



// Default stylings
@import "components/containers";


// Components

@import "components/btn";
@import "components/logo";
@import "components/player_grid";
@import "components/avatar_rounded";
@import 'components/form';
@import "components/new_game";
@import "components/gamecode";

// Pages

@import "pages/pre_lobby";
@import 'pages/lobby';
@import 'pages/index';
@import 'pages/about_us';
@import 'pages/play';
@import 'pages/player_score';
@import 'pages/result';
@import 'pages/round_result';


body{
  background-color: $white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}
